#main{
    background-color: lightgrey;
    margin-top: 20px
}

#title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#img-div {
  background-color: #fff;
  width: 95%;
  height: 480px;
  margin: auto;
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}

#img-caption {
    padding: 10px
}

#tribute-info {
    width: 800px;
    margin: auto;
}

li{
    margin: 13px 0;
}

p {
  font-size: 1.5em;
  font-weight: "500";
  text-align: center;
}
